<div *ngIf="!card(); else cardFace" class="card-back"></div>

<ng-template #cardFace>
  <div class="card" [ngClass]="suitColorClass()">
    <!-- Center Content -->
    <div class="card-center">
      {{ card()?.label }}{{ card()?.suit }}
    </div>

    <!-- Corner Content -->
    <div class="card-corner top-left">
      <div>{{ card()?.label }}</div>
      <div>{{ card()?.suit }}</div>
    </div>
    <div class="card-corner bottom-right">
      <div>{{ card()?.label }}</div>
      <div>{{ card()?.suit }}</div>
    </div>
  </div>
</ng-template>